.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ant-image-img {
  -o-object-fit: cover;
  object-fit: cover;
}

.ant-image {
  overflow: hidden;
}
